.projects{
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    h2{
        margin: 5rem;
    }
}
.travelly, .elena{
    margin: 1 1 40rem;
}

.travelly-image, .elena-image{
    width: 80%;
}

